@keyframes pulseButton {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}
.main__button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ff051b;
  border-radius: 35px;
  padding: 15px 30px;
  color: #ff051b;
  margin-top: 5%;
  position: relative;
  /* overflow: hidden; */
  transition: all 0.25s ease-in-out;
  cursor: grab;
  transition: opacity 0.3s ease-in-out 0.2s;
  /* animation: pulseButton 1.6s linear infinite; */
}

.main__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  /* background-color: #c0517e; */
  border: 3px solid #dd1a2a;
  z-index: -1;
  box-sizing: border-box;
  animation: pulseButton 1s linear infinite;
}

/* .main__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -120%;
  left: 0;
  background-color: #ff051b;
  transition: top 0.85s ease-in-out;
} */

/* .main__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: -15%;
  left: 0;
  background-color: white;
  transition: top 0.85s ease-in-out;
} */

.main__button:hover {
  background-color: #ff051b;
  /* border: 1px solid black; */
  color: black;
  transform: scale(1.2);
}

/* .main__button:hover::before {
  top: 0;
} */
/* .main__button:hover::after {
  top: 120%;
} */