.header__menu {
    display: flex;
}

@media screen and (max-width: 767px) {
    .header__menu {
        display: none;
        position: absolute;
        top: 120%;
        right: 0;
        flex-direction: column-reverse;
        min-height: 180px;
        justify-content: space-around;
        align-items: flex-start;
    }
}