.order__details-content-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 0;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  font-size: 18px;
}