.header__burger-button {
  background: transparent;
    /* border: 2px solid red; */
    padding: 5px 5px;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
  margin: 0 5% 0 0;
}