@import url(./__headline/goods__headline.css);
@import url(./__span/goods__span.css);
@import url(./__wrapper/goods__wrapper.css);
@import url(./__wrapper-text/goods__wrapper-text.css);
@import url(./__good/goods__good.css);
@import url(./__good-img/goods__good-img.css);
@import url(./__good-text-wrapper/goods__good-text-wrapper.css);
@import url(./__good-span/goods__good-span.css);
@import url(./__good-quantity/goods__good-quantity.css);
@import url(./__overlay/goods__overlay.css);
.goods {
  /* display: none; */
  /* min-height: 100vh; */
  padding: 5% 0;
  /* background-color: black; */
  /* background-image: url(../../images/neverlove_gig.jpg); */
  /* background-image: url(../../images/neverlove-kisses.png); */
  background: transparent;
  position: relative;
  box-sizing: border-box;
  /* border-top: 1px solid #813c58; */
  /* background-size: cover; */
}
