.cart__list-element-text-wrapper {
  padding: 2% 5%;
  box-sizing: border-box;
  min-height: 73px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .cart__list-element-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}