.goods__good {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid transparent;
  border-radius: 20px;
  transform-style: preserve-3d;
  /* padding: 20px; */
  /* transition: all 0.35s ease-in-out; */
}

.goods__good:nth-of-type(2n+2) {
  margin: 0 0 2% 0;
}

.goods__good:hover {
  border: 1px solid #c0517e;
}