.popup__text-wrapper {
  min-width: 500px;
  color: white;
  /* padding: 5% 0 0 0; */
  padding: 5% 0 0% 5%;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
  .popup__text-wrapper {
    min-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .popup__text-wrapper {
    max-width: 320px;
  }
}