.cart__list-element-button-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10%;
  right: 2%;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .cart__list-element-button-close {
    top: 7%;
    right: 0%;
  }
}