.interlude__headline {
  margin: 0;
  position: absolute;
  top: -10%;
  /* left: 40%; */
  color: white;
  font-size: 42px;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.45s ease-in-out;
}