.order__form-button-submit {
  max-width: 50%;
  margin: 5% auto 0 auto;
  padding: 2%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
}
