.order__details-content-detail {
  max-width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 75px;
}

@media screen and (max-width: 767px) {
  .order__details-content-detail {
    max-width: 320px;
  }
}