.transition-fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  z-index: 20;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.transition-slide {
  /* color: red; */
  pointer-events: all;
  /* opacity: 1; */
  /* position: absolute; */
  /* left: 0; */
  transform: translateX(0);
  transition: all 1.5s ease-out 0.15s;
}

html.is-animating .transition-slide {
  /* color: green; */
  transform: translateX(-200%);
  pointer-events: none;
  /* opacity: 0; */
  /* left: -250%; */
}