@import url(./__overlay/popup__overlay.css);
@import url(./__close/popup__close.css);
@import url(./__close-logo/popup__close-logo.css);
@import url(./__image/popup__image.css);
@import url(./__text-wrapper/popup__text-wrapper.css);
@import url(./__size-form/popup__size-form.css);
@import url(./__size-list/popup__size-list.css);
@import url(./__size-list-element/popup__size-list-element.css);
@import url(./__size-list-element/_disabled/popup__size-list-element_disabled.css);
@import url(./__size-list-element/_active/popup__size-list-element_active.css);
@import url(./__size-list-element-input/popup__size-list-element-input.css);
@import url(./__size-list-element-label/popup__size-list-element-label.css);
@import url(./__size-form-quantity-wrapper/popup__size-form-quantity-wrapper.css);
@import url(./__size-form-quantity-input/popup__size-form-quantity-input.css);
@import url(./__size-span/popup__size-span.css);
@import url(./__text-size-remains/popup__text-size-remains.css);
@import url(./__span-good-material/popup__span-good-material.css);
@import url(./__span-good-print/popup__span-good-print.css);
@import url(./__order-button/popup__order-button.css);
@import url(./__headline/popup__headline.css);
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.01s ease-in-out 0.5s, opacity 0.5s ease-in-out;
}