.goods__good-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70px;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  background-color: transparent;
  padding: 10px 0;
  box-sizing: border-box;
  transition: all 0.35s ease-in-out;
}

.goods__good:hover .goods__good-text-wrapper {
  background-color: #c0517e;
}